* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fcfefe;
}

header {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}
.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #272343;
  padding: 20px;
  min-width: 100px;
  border-radius: 20px;
}

img {
  border-radius: 50%;
}

h4 {
  color: #fcfefe;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search {
  font-size: 20px;
  text-align: center;
}
